odd/docx.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Word DOCX  <desc>Convert DOCX via ODD</desc>
                </title>
                <title type="short">DOCX</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2019-05-07+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="docx" ns="http://schemas.openxmlformats.org/wordprocessingml/2006/main"> <elementSpec ident="body" mode="add">
                    <model behaviour="body"/>
                </elementSpec>
                <elementSpec ident="p" mode="add">
                    <model predicate="pPr/numPr and $parameters?nstyle(.)/w:numFmt/@w:val/string() = 'bullet'" behaviour="listItem"/>
                    <model predicate="$parameters?pstyle(.)/w:name/@w:val ! matches(., &#34;^(heading|title|subtitle)&#34;, &#34;i&#34;)" behaviour="heading">
            <param name="level" value="$parameters?pstyle(.)//w:outlineLvl/@w:val/number() + 1"/>
        </model>
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="r" mode="add">
                    <model predicate="$parameters?cstyle(.)/w:rPr/w:i" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="$parameters?cstyle(.)/w:rPr/w:b" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>